body {
  background-image: url("/images/bg.png");
  background-repeat: no-repeat;
  height: 100vh; /* or any desired height */
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* or any desired height */
}

background-nav {
  background-size: cover;
  height: 100vh;
}

p {
  font: 1rem;
}
/*Match cards*/
.custom-table {
  border-collapse: separate;
  border-spacing: 0 1.2rem;
  width: 80%;
  max-width: 1000px;
  color: white;
}
/*Background color for matches cards*/
.custom-table > tbody > tr {
  background-color: #130d25;
}

.custom-table > tbody > tr > td {
  padding: 1rem 2rem;
}

.checkboxBorder {
  color: white;
  font-weight: 600;
  width: 50px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #583371;
}

.checked {
  background-image: linear-gradient(
    to right,
    rgba(255, 150, 255, 100),
    rgba(149, 178, 255, 100)
  );
  color: white;
}

.disabled {
  background-color: lightgrey;
  color: #583371;
}

.checkboxContainer {
  display: flex;
  gap: 10px;
  justify-content: end;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 10px;
  }

  .custom-table {
    border-spacing: 0 0.9rem;
    width: 100%;
  }

  .checkboxBorder {
    width: 30px;
  }

  .custom-table > tbody > tr > td {
  }

  p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 8px;
  }

  .custom-table {
    border-spacing: 0 0.6rem;
    width: 100%;
  }

  .checkboxBorder {
    width: 15px;
    height: 15px;
  }

  .custom-table > tbody > tr > td {
  }

  p {
    font-size: 0.4rem;
  }
}
