@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Book"; /*Can be any text*/
  src:
    local("AvenirLTProBook"),
    url("./fonts/AvenirLTProBook.otf") format("opentype");
}

@font-face {
  font-family: "Modern"; /*Can be any text*/
  src:
    local("Modern"),
    url("./fonts/Modernline.otf") format("opentype");
}

@font-face {
  font-family: "Seg"; /*Can be any text*/
  src:
    local("SegUIVar"),
    url("./font/SegUIVar.ttf") format("truetype");
}

@font-face {
  font-family: "ProLight"; /*Can be any text*/
  src:
    local("AvenirLTProLight"),
    url("./fonts/AvenirLTProLight.otf") format("opentype");
}

@font-face {
  font-family: "ProLightOblique"; /*Can be any text*/
  src:
    local("AvenirLTProLightOblique"),
    url("./fonts/AvenirLTProLightOblique.otf") format("opentype");
}

@font-face {
  font-family: "ProOblique"; /*Can be any text*/
  src:
    local("AvenirLTProOblique"),
    url("./fonts/AvenirLTProOblique.otf") format("opentype");
}

@font-face {
  font-family: "ProMedOblique"; /*Can be any text*/
  src:
    local("AvenirLTProMedOblique"),
    url("./fonts/AvenirLTProMediumOblique.otf") format("opentype");
}

@font-face {
  font-family: "ProBlackOblique"; /*Can be any text*/
  src:
    local("AvenirLTProBlackOblique"),
    url("./fonts/Avenir_LT_Std_95_Black_Oblique.otf") format("opentype");
}

@font-face {
  font-family: "HeavyOblique"; /*Can be any text*/
  src:
    local("AvenirLTProHeavyOblique"),
    url("./fonts/Avenir_LT_Std_85_Heavy_Oblique.otf") format("opentype");
}

@font-face {
  font-family: "Heavy"; /*Can be any text*/
  src:
    local("AvenirLTProHeavy"),
    url("./fonts/Avenir_LT_Std_85_Heavy.otf") format("opentype");
}

@font-face {
  font-family: "Amsi"; /*Can be any text*/
  src:
    local("Amsi"),
    url("./fonts/AmsiProCond-ThinItalic.otf") format("opentype");
}

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.X-form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.centeralized-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #FF3D00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 